/* .App {
  text-align: center;
  background-color: #282c34;
}
*/
body{
  background-image: url(https://www.weberpl.lib.ut.us/sites/default/files/styles/panopoly_image_full/public/general/adobestock_277559118.jpeg?itok=37njEBFv);
  background-repeat:repeat;
  background-size: cover;
}

h1.title {
  font-size: 50px;
  font-family: serif;
}

